[submodule "node_modules/.cache/gh-pages/https!github.com!RegiLoshi!my_web_improved.git"]
path = node_modules/.cache/gh-pages/https!github.com!RegiLoshi!my_web_improved.git
url = git://github.com/RegiLoshi/my_web.git