.App{
  font-family: 'Anton', sans-serif;
}
.particles {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.MainPage{
  min-height: 100vh;
}
a{
  color: white;
}
.MainPage, .SecondPage, .project_page, .Contact {
  width: 100%;
}
